ACCOUNTS_HOST=0.0.0.0:9010
ADMINS_HOST=0.0.0.0:9011
SEARCH_HOST=0.0.0.0:9012

ACCOUNTS_DB_DSN=postgres://postgres:postgres@localhost:5433/accounts?sslmode=disable
ADMINS_DB_DSN=postgres://postgres:postgres@localhost:5434/admins?sslmode=disable
SEARCH_DB_DSN=postgres://postgres:postgres@localhost:5435/search?sslmode=disable

NATS_URL=nats://localhost:4222

GOLOG_LOG_LEVEL=info
